*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*CSS to add color in background and in text*/
body{
    background: #343434;
    color:aliceblue;
}
/*Add CSS to align text*/
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}
/*Decorate form type*/
form{
    height: 80px;
    width: 90%;
    max-width: 600px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    background: #3d4169;
    margin: auto;
}
/*CSS for input field*/
form input{
    height: 100%;
    outline: 0;
    border: 0;
    font-size: 18px;
    padding: 0 30px;
    flex: 1;
    background: transparent;
    color: rgb(148, 141, 141);
}
/* CSS for search button*/
form button{
    height: 100%;
    padding: 0 40px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    background: firebrick;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: bisque;
    outline: 0;
}
/*CSS to change color of placeholder text*/
::placeholder{
    color: bisque;
    font-size: 18px;
}
/*CSS styling for extra button id that shows results*/
#show-more-btn{
    color: bisque;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
    background: #ff3929;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 4px;
}
